.admin-menu-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  padding: 2rem;
  border-radius: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.admin-menu-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.admin-menu-form input {
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.admin-menu-form-buttons {
  display: flex;
  justify-content: space-between;
}

.cancel-button {
  background-color: var(--white-color);
  color: rgb(20, 20, 20);
  padding: 1rem 1.5rem;
  font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin-right: 0.5rem;
  transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: var(--red-color);
      transform: translateY(-1px) scale(1.02);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}

.add-button {
  background-color: white;
  padding: 1rem 1.5rem;
  color: black;
  font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
  letter-spacing: 1px;
  flex: 1;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: darkorange;
      transform: translateY(-1px) scale(1.02);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  z-index: 1001;
}
.field-error{
  color: #ff6b6b;
}

.error-message {
  color: #ff6b6b;
  margin-top: 1rem;
  text-align: center;
}

@media (max-width: 749px) {
  .admin-menu-container {
    width: 90%;
    padding: 1.5rem;
  }

  .admin-menu-form input {
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  .cancel-button,
  .add-button {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }
}

@media (min-width: 750px) and (max-width: 1099px) {
  .admin-menu-container {
    width: 70%;
    padding: 2rem;
  }

  .admin-menu-form input {
    font-size: 1rem;
    padding: 0.7rem;
  }

  .cancel-button,
  .add-button {
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
  }
}

