.info-container {
  display: flex;
  color: var(--white-color);
  padding: 20px;
  justify-content: space-evenly;
  background-color: white;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 300px;
  gap: 10px;
}

.oppet,
.besok {
  font-size: 25px;
  color: black;
  
}
.date {
  font-size: 20px;
  color: black;
}
.address {
  font-size: 20px;
  color: black;
}

.right-box {
  width: 45%;
}

.map-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@media (min-width: 320px) and (max-width: 900px) {
  .info-container {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 30px;
    justify-content: space-between;
  }

  .left-section,
  .right-box {
    width: 100%;
    text-align: center;
  }

  .oppet,
  .besok {
    font-size: 40px;
  }

  .date {
    font-size: 20px;
  }

  .address {
    font-size: 25px;
  }

  .map-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }
}
