.footer {
  position: relative;
  height: auto;
  font-family: "Merriweather", sans-serif;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: var(--white-color);
  padding: 2rem;
  padding-bottom: 0;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  flex: 0 1 auto;
  min-height: 155px;
}

.footer-heading1 {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0.5em;
  flex: 0 0 3em;
  gap: 3px;
  align-items: flex-start;
  justify-content: flex-start;

  .footer-text {
    font-size: 18px;
    padding: 0.2em;
    text-align: left;
    width: 200px;
    margin: 0;
  }

  h4 {
    color:#87CEEB;
    margin: 0;
    text-align: left;
    font-size: 22px;
    white-space: nowrap;
  }
}

.footer-font {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  margin: 0.05em;
  padding: 0.1em;
  color:#87CEEB ;

  .fonts {
    width: 16px;
    height: 16px;
  }
}

.footer-source {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 0.1em;
  align-items: center;

  .source {
    font-size: 12px;
    margin: 0.05em 0;
    padding: 1rem;
  }
}

.fonts:hover {
  cursor: pointer;
}
.lock-button {
  position: relative;
}

.lock-button {
  color: white;
  font-size: 24px;
  width: fit-content;
}
.lock-button .hover-text {
  position: absolute;
  visibility: hidden;
}
.lock-button:hover .hover-text {
  font-size: 16px;
  position: absolute;
  white-space: nowrap;
  bottom: 100%;
  left: 50%;
  visibility: visible;
}
@media screen and (max-width: 600px) {
  .footer-container,
  .footer-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-heading1 {
    flex: 1 1 100%;
    width: 100%;
    align-items: flex-start;
    padding-left: 0;
  }

  .footer-heading1 h4 {
    font-size: 20px;
  }

  .footer-text {
    width: 100%;
    font-size: 16px;
  }

  .footer-font {
    justify-content: flex-start;
  }
}
